[submodule "backend"]
	path = backend
	url = https://github.com/MrMaxime1er/civic_flow_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/MrMaxime1er/civic_flow_frontend.git
